.pagination p {
  text-align: center;
  margin-top: 10px;
  padding: 0;
}
.pagination Button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.pagination {
  display: inline-flex;
  text-align: center;
}
#addToCart {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.card {
  /* card style */
  margin: 10px;
  height: 500px;
  background-color: rgb(247, 241, 232);
}

.imageAndCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceAndCart {
  position: absolute;
  display: block;
  justify-content: space-between;
  align-items: start;
  top: 50%;
  left: 60%;
}
.priceAndCart Button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.priceAndCart p {
  margin: 0;
  padding-left: 7px;
}
