.product {
  display: inline-flex;
  background-color: aliceblue;
  border : 2px solid #0d6efd;
  border-radius: 15px;
}
.product > * {
  margin: 0 10px;
  
}
.cover {
  max-width: 50%;
}
.details {
  padding-top: 15%;
}
.details p {
  margin: 0;
  padding: 5px;
  width: 80%;
}
.purchase {
  padding-top: 25%;
  padding-right: 8%;
}
